body {
  background-color: white;
}

.jumbotron {
  background-color: darkslateblue;
  color: #ffffff;
}

.container {
  max-width: 600px;
  margin: 50px auto;
}

#otherRaceInput {
  display: none;
}

#adventurePage {
  display: none;
  color: white;
}

.secondBackground {
  background-color: black;
}

img {
  width: 80%;
  height: 80%;
}

.mt-5 {
  background-color: darkslateblue;
}

.result {
  display: none;
}
